@model GTIMVC.MODEL.Produto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoriaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "FormAlterar", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
