@model IEnumerable<GTIMVC.MODEL.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Produtos Cadastrados</h2>
<div>
    <table class="table font">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    <a href="FormAlterar/@item.Id" Class="btn btn-secondary">Editar</a>
                    <a href="Detalhes/@item.Id" Class="btn btn-secondary">Detalhes</a>
                    <a href="FormExcluir/@item.Id" Class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </table>
    <a href="Form" Class="btn btn-success">Inserir novo produto</a>
    <a href="Home" Class="btn btn-primary">Voltar para página Inicial</a>
</div>